<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">OfferJar Scanner</h1>
    </div>
</div>


<div class='details' style="text-align: center; margin-top: 60px;">
    <p id="error" ng-show="error.message">{{error.message}}</p>
    <div>
        <input type="text" class="topcoat-text-input" ng-model="user.username" placeholder="username" value="">
    </div>

    <div>
        <input type="password" class="topcoat-text-input" ng-model="user.password" placeholder="password" value="">
    </div>

    <div style="margin-top: 10px">
        <button class="topcoat-button--cta" disabler="'Checking...'" ng-model="loading" ng-click="doLogin()">Login</button>
    </div>
</div>
         