<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left three-quarters">
        <h1 class="topcoat-navigation-bar__title">Logged in as {{user.username}}</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button logout-button" ng-click="logout()">
            Logout
        </a>
    </div>
</div>


<div class='details' style="text-align: center; margin-top: 60px;">
    <button class="topcoat-button--large--cta" ng-click="scan()">Scan Offer Code</button>
    <p id="error" ng-show="error.message">{{error.message}}</p>
    <h2 ng-show="code!=''">{{code}}</h2>
</div>
         